<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>
  <%i = 0%>
  <% @list.each do |line| %>
    <%= i %> <%= line %> </br>
    <% i = i+1 %>
  <% end %>
</p>

<p>
  <%= @list[10] %>
</p>
<p>
  <% Conference.all.each do |conference| %>
      <p><%= conference.name %></p>
      <% conference.attendees.each do |attendee| %>
          <%= attendee.name %></br>
          <%= attendee.location %></br>
          <% if attendee.geocoded? then %>
            <%= #attendee.distance_from([attendee.conference.latitude, attendee.conference.longitude]).round(2)
                attendee.distance_from(attendee.conference.coordinates).round(2)%></br>
          <% end %>
      <% end %>
  <% end %>
</p>




